@tailwind base;
@tailwind components;
@tailwind utilities;

.trash-btn {
  display: none;
}

.exercise-card:hover .trash-btn {
  display: flex;
}

.react-datepicker__input-container {
  border: 1px solid gray !important;
  border-radius: 5px;
  padding: 0 15px;
}

.react-datepicker__input-container input {
  height: 30px;
}

.react-datepicker__input-container input:focus {
  outline: none;
}

.popup-overlay {
  background: rgba(136, 136, 136, 0.39) !important;
}
